doctype html
html
	head
		title Hackathon 2014
		link(rel="stylesheet", href="/css/styles.css")
	body
		div.main(ng-app='hackathon')
			block content
script(type="text/javascript", src="/js/lib/jquery.js")
script(type="text/javascript", src="/js/lib/angular.js")
script(src="/socket.io/socket.io.js")
script(type="text/javascript", src="/js/main.js")
script(type="text/javascript", src="/js/controllers/index.js")